// styles for logo's colors
$color-default: #231f20;
$color-blue: #00387b;
$color-gray: #4f5358;
$color-green: #008b29;
$color-orange: #ff4d06;
$color-purple:#903373;
$color-red: #ff2d21;
$color-white:#fff;
$color-yellow:#ffff00;

// base styles
$base-font-size: 0.875em;
$base-font-family: 'Century Gothic', arial, sans-serif;

// styles for headings
$h1-font-size: 2.143em;
$h2-font-size:2.143em;
