.center-frame {
	max-width: 1285px;
	padding: 91px 35px 30px;
	margin: 0 auto;
}
.grid-item {
	color: #000;
	float: left;
	a {
		position: relative;
		float: left;
		overflow: hidden;
		cursor: pointer;
		color: #000;
		img {
			width: 100%;
			height: auto;
			position: relative;
			display: block;
			min-height: 100%;
			max-width: 100%;
			max-width: none;
			width: -webkit-calc(100% + 50px);
			width: calc(100% + 50px);
			-webkit-transition: opacity 0.35s, -webkit-transform 0.35s;
			transition: opacity 0.35s, transform 0.35s;
			-webkit-transform: translate3d(-40px, 0, 0);
			transform: translate3d(-40px, 0, 0);
		}
		&:hover {
			img {
				-webkit-transform: translate3d(0, 0, 0);
				transform: translate3d(0, 0, 0);
			}
		}
	}
	.description {
		text-align: left;
		padding: 16px 0 0;
		h2 {
			margin: 0 0 7px -2px;
			letter-spacing: 1px;
		}
		address {
			font-size: 12px;
			line-height: 15px;
			font-style: normal;
		}
	}
}
.filter-list-area {
	display: inline-block;
	vertical-align: top;
	height: 21px;
	margin: 0 0 57px;
	position: relative;
	.open-filter-list {
		font-size: 16px;
		font-weight: 600;
		color: #000;
		text-transform: uppercase;
		position: relative;
		padding: 0 0 0 27px;
		letter-spacing: 1px;
		&:before {
			content: '';
			position: absolute;
			bottom: 4px;
			left: 0;
			background-color: #000;
			height: 1px;
			width: 20px;
		}
	}
	&:hover,
	&.hover {
		.filter-area {
			opacity: 1;
			visibility: visible;
		}
	}
	.filter-area {
		@include transition;
		@include box-shadow(0 0 10px rgba(0, 0, 0, 0.2));
		opacity: 0;
		visibility: hidden;
		font-size: 14px;
		background-color: #fff;
		position: absolute;
		top: -5px;
		left: -8px;
		z-index: 1;
		padding: 8px 27px 14px 8px;
		ul {
			@include reset-ul;
		}
		li {
			position: relative;
			padding: 0 0 0 35px;
			margin: 0 0 7px;
			&:last-child {
				margin: 0;
			}
			a {
				color: #a6a6a6;
				&:hover {
					color: #000;
				}
			}
			&:first-child {
				&:before {
					content: '';
					position: absolute;
					bottom: 4px;
					left: 0;
					background-color: #000;
					height: 1px;
					width: 20px;
				}
			}
		}
	}
}
@media only screen and (max-width: 960px) {
	.center-frame {
		padding: 98px 35px 30px;
	}
}
@media only screen and (max-width: 767px) {
	.grid-item {
		.description {
			h2 {
				font-size: 20px;
			}
		}
	}
	.center-frame {
		padding: 98px 20px 30px;
	}
	.filter-list-area{
		margin: 0 0 30px;
	}
}
